!!! html5
head
  - block title
    title Arguments
  //meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href=url_for("static", filename="css/arguments.css"))
  script(src=url_for("static", filename="js/jquery-2.1.1.js"))

body
  #wrapper
    - block navbar
        #header
          #header_orange
            .header_top_menu

              .header_title
                a(href="/") Arguments

              .header_signup(style="text-align: center:")
                a(href="/login/")= _("login")

          .header_white
            .header_navigation

              .navi_point.title(class=("current_page" if mode=="sorted" else ""))
                a(href=url_for("questions", mode="sorted"))= _("sorted")

              .navi_point.top(class=("current_page" if mode=="top" else ""))
                a(href=url_for("questions", mode="top"))= _("top")

              .navi_point.overview(class=("current_page" if mode=="custom" else ""))
                a(href=url_for("questions", mode="custom"))= Antragsgruppen

              .navi_point
                input#navi_search(type="text", value=_("search"), name="navi_search")


    - block messages
      - with messages = get_flashed_messages(with_categories=True)
        if messages
          for cat, msg in messages
            .alert(class="alert-{{ cat }}")= msg

    - block content
      // empty

  - block footer
    #footer
      #footer_content
        a(href="/")
          .footer_logo
        #footer_copyright
          a(href="#") FAQ 
          || 
          a(href="#")= _("terms_of_use")
          || 
          a(href="#")= _("link_other")
          || 
          a(href="#")= _("imprint")


  - block script
    // empty


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
