!!! html5
head
  - block title
    title Arguments
  meta(charset="utf8")
  meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  link(rel="stylesheet", href=url_for("static", filename="css/arguments.css"))
  script(src=url_for("static", filename="js/jquery-2.2.3.js"))
  script(src="/static/js/sijax/sijax.js")
  //script= g.sijax.get_js()|safe
  script.
    var current_user = { "is_authenticated": {{ current_user.is_authenticated|tojson }} };

body
  - block navbar
    nav.top_navbar
      .container
        a.navbar-brand(href=url_for("questions")) Arguments

        ul.nav.navbar-nav
          li.nav-item
            select.form-control#locale_select
              option(selected=(g.locale == "de"), value="de") Deutsch
              option(selected=(g.locale == "en"), value="en") English
              option(selected=(g.locale == "fr"), value="fr") Français

          li.nav-item(class=("active" if not mode or mode=="sorted" else ""))
            a.nav-link(href=url_for("questions", tag=tag|default(None)))= _("sorted")
          
          li.nav-item(class=("active" if mode=="top" else ""))
            a.nav-link(href=url_for("questions", mode="top", tag=tag|default(None)))= _("top")

          //li.nav-item(class=("active" if mode=="custom" else ""))
          //  a.nav-link(href=url_for("questions", mode="custom")) Antragsgruppen 

        ul.top_usercontrols
          li.nav-item
            if current_user.is_authenticated
              a.btn.nav-link(href="#")= current_user.display_name
            else
              a.btn.nav-link(href=url_for("ekklesia.login"))= _("login")

        form.top_search(action=url_for("questions"))
          input.form-control(type="text", placeholder=_("search_for"), name="q")
          button.search_button(type="submit")
            i.fa.fa-search &nbsp;Suche

    - block messages
      - with messages = get_flashed_messages(with_categories=True)
        if messages
          for cat, msg in messages
            div(class="alert_{{ cat }}")= msg

    .content_area
      - block content
        // empty

  - block footer
    nav.navbar.navbar-light.navbar-bottom.bg-primary
      ul.nav.navbar-nav
        li.nav-item
          a.nav-link(href="#")= _("link_other")
        li.nav-item
          a.nav-link(href="#") FAQ
        li.nav-item
          a.nav-link(href="#")= _("terms_of_use")
        li.nav-item
          a.nav-link(href="#")= _("imprint")

  script.

    change_locale_sijax_callback = function() {
      location.reload();
    }

    $(function() {
      $("#locale_select").change(function() {
        Sijax.request("change_locale", [this.value])
        console.log("locale changed to " + this.value);
      });
    });

  - block script
    // empty


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
