- extends "layout.j2.jade"

- block title
  title= _("new_proposition")

- block content
  h2= _("new_proposition")

  form#new_proposition(method="POST", action=url_for("new_proposition"))
    fieldset.form-group
      button.btn.btn-primary= _("submit")

    fieldset.form-group
      label= _("title")
      textarea.form-control(name="title", rows=2)= title

    fieldset.form-group
      label= _("details")
      textarea.form-control(name="details", rows=8)= details

    fieldset.form-group
      label= _("tags")
      textarea.form-control(name="tags", rows=2)= tags

    fieldset.form-group
      label= _("associated_with_proposition_url")
      textarea.form-control(name="associated_with_proposition_url", rows=2)= associated_with_proposition_url

    fieldset.form-group
      label= _("association_type")
      select.form-control(name="association_type")
        option(value="")
        option(value="change" selected=(association_type=="change"))= _("change_proposition")
        option(value="counter" selected=(association_type=="counter"))= _("counter_proposition")

    fieldset.form-group
      button.btn.btn-primary= _("submit")


//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
