- extends "layout.j2.jade"
- from "proposition_macros.j2.jade" import proposition_box, proposition_tabline

- block title
  title
    = proposition.title
    | - 
    = _("new_argument")

- block content
  = proposition_tabline(proposition, "discussion")

  = proposition_box(proposition, current_user, no_margin=True)

  h3= _("new_argument")

  form#new_argument(method="POST", action=url_for("new_argument", proposition_url=proposition.url, argument_type=argument_type))
    fieldset.form-group
      label= _("title")
      textarea.form-control#new_argument_title(maxlength=50, rows=1, name="title")

    fieldset.form-group
      label= _("abstract")
      textarea.form-control#new_argument_abstract(maxlength=140, rows=2, name="abstract")

    fieldset.form-group
      label= _("details")
      textarea.form-control#new_argument_details(name="details", rows=4)

    fieldset.form-group
      button.btn.btn-primary= _("submit")


//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
