- macro proposition_tags(tags)
  ul.list-inline
    for tag in tags
      li.list-inline-item
        a(href="/tags/{{ tag.tag }}")
          span.tag_text= tag.tag


- macro proposition_actions(proposition, user, goto_label)
  
  vote = proposition.user_vote(user) if user.is_authenticated else None
  upvoted = vote != None

  div
    if user.is_authenticated
      button.btn.btn-primary(hidden=upvoted
          data-action="proposition_vote"
          data-proposition-id=proposition.id)
          i.fa.fa-thumbs-up &nbsp;
          | Unterst체tzen

      button.btn.btn-secondary(hidden=(not upvoted)
          data-action="proposition_revoke_vote"
          data-proposition-id=proposition.id)
          i.fa.fa-remove &nbsp;
          | Unterst체tzung zur체ckziehen

      button.btn.btn-danger-outline
        i.fa.fa-thumbs-down &nbsp;
        | Melden

    button.btn.btn-secondary
      i.fa.fa-share &nbsp;
      | Teilen

    a.btn.btn-secondary(href="#bottom")
      i.fa.fa-comments &nbsp;
      = goto_label



- macro proposition_box(proposition, proposition_url, user, goto_label, no_margin=False, voting=False, details=False, show_actions=False)

  argument_count = proposition.proposition_arguments|length

  .proposition(id="proposition_{{ proposition.id }}", 
            class=("proposition_no_margin" if no_margin else ""))
    .row
      .proposition_sidebar

        .authoring_info
          small.author=_("authored_at", dt=proposition.created_at)

        .points
          i.fa.fa-thumbs-up &nbsp;
          strong.proposition_info_number(id="proposition_score_{{ proposition.id }}")= proposition.score
          | &nbsp;
          span= ngettext("supporter", "supporters", proposition.score)

        .argument_count
          i.fa.fa-comments &nbsp;
          strong.proposition_info_number= argument_count
          | &nbsp;
          span= ngettext("argument", "arguments", argument_count)

      .proposition_body
        h4.proposition_title
            a(href=proposition_url)= proposition.title

        = proposition_tags(proposition.tags)

        if details
          .proposition_details
            p
              = proposition.details|markdown

        if show_actions
          = proposition_actions(proposition, user, goto_label)


- macro tag_filter_box(tag, mode)
  ol.breadcrumb
    li
      a(href=url_for("propositions", mode=mode))
        = _("overview")
    li.active
      | Nur Antr채ge mit Tag: 
      span.tag_text= tag


- macro search_filter_box(searchterm, mode)
  ol.breadcrumb
    li
      a(href=url_for("propositions", mode=mode))
        = _("overview")
    li.active
      = _("search_for")
      |: 
      strong= searchterm


- macro proposition_tabline(proposition, active_tab)
  .proposition_toolbar
    .proposition_tabs
      a.tab(class=("inactive" if active_tab != "discussion" else "")
            href=url_for("proposition", proposition_url=proposition.url))= _("discussion")

      a.tab(class=("inactive" if active_tab != "associated" else "")
            href=url_for("proposition_associated", proposition_url=proposition.url))= _("associated")


- macro proposition_box_small(proposition, side)
  .associated_proposition(class=("associated_proposition_" + side))
    .row
      .col-sm-2
        .authoring_info
          small.author=_("authored_at", dt=proposition.created_at)

        .points
          i.fa.fa-thumbs-up &nbsp;
          strong.proposition_info_number(id="proposition_score_{{ proposition.id }}")= proposition.score
          | &nbsp;
          span= ngettext("supporter", "supporters", proposition.score)

      .col-sm-8
        h5.associated_proposition_title
          a(href=url_for("proposition", proposition_url=proposition.url))= proposition.title



//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
