- extends "layout.j2.jade"
- from "proposition_macros.j2.jade" import proposition_box, proposition_box_small, proposition_tabline

- block title
  title= proposition.title

- block content
  = proposition_tabline(proposition, "associated")
  = proposition_box(proposition, current_user, _("goto_associated_propositions"), no_margin=True, voting=True, details=True, show_actions=True)

  .proposition_col
    a(name="bottom")
  
    for associated_proposition in associated_propositions_left
      = proposition_box_small(associated_proposition, "left")

    a(href=url_for("new_proposition", associated_with_proposition_url=proposition.url, side="left")) 
      .button_add_related
        span= _("add_change_proposition")


  .proposition_col
    for associated_proposition in associated_proposition_right
      = proposition_box_small(associated_proposition, "right")

    a(href=url_for("new_proposition", associated_with_proposition_url=proposition.url, side="right")) 
      .button_add_related
        span= _("add_counter_proposition")


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
