- if layout
  - extends "layout.j2.jade"

- block title
  title Arguments - {{ _("overview") }}

- block content
  if searchterm
    ol.breadcrumb
      li
        a(href=self_link)
          = _("overview")
      li.active
        = _("search_for")
        |: 
        strong= searchterm
        
  if tag
    ol.breadcrumb
      li
        a(href=self_link)
          = _("overview")
      li.active
        | Nur Anträge mit Tag: 
        span.tag_text= tag

  for proposition in propositions
    = render_cell(proposition)


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
