- macro question_tags(tags)
  ul
    for tag in tags
      li.tag 
        a(href="/tags/{{ tag.tag }}")= tag.tag


- macro question_box(question, user, goto_label, no_margin=False, voting=False, details=False)

  vote = question.user_vote(user) if user.is_authenticated else None
  upvoted = vote != None

  .question(id="question_{{ question.id }}", 
            class=("question_no_margin" if no_margin else ""))
    .stats.question_stats
      .points.question_points(id="question_score_{{ question.id }}")= question.score
      .points_text.question_points_text= ngettext("supporter", "supporters", question.score)

      if voting
        .question_vote_up.vote_up(class=("vote_up_inactive" if not upvoted else ""),
          data-action="question_vote_up",
          data-question-id=question.id,
          data-revoke=upvoted|tojson,
          title="hier klicken")
      elif upvoted
        .question_vote_up.vote_up

    .question_title
      p
        a(href=url_for("question", question_url=question.url))= question.title

    .question_num_arguments= question.arguments.count()
      .icon_num_arguments 

    .tags= question_tags(question.tags)

    .author.question_author
    .author.question_author=_("authored_at", dt=question.created_at|datetimeformat)

    if details
      .question_details
        a.button_orange(href="#bottom", style="width:180px")= goto_label
        p
          = question.details|markdown

    .clear


- macro tag_filter_box(tag, mode)
  .filter Tag: {{ tag }}
    .remove
      a(href=url_for("questions", mode=mode))
        .remove_icon


- macro search_filter_box(searchterm, mode)
  .filter
    = _("search_for") 
    |:&nbsp;
    = searchterm 
    .remove
      a(href=url_for("questions", mode=mode))
        .remove_icon


- macro question_tabline(question, active_tab)
  .question_tabs
    .tab(class=("tab_active" if active_tab == "discussion" else ""))
      a(href=url_for("question", question_url=question.url))= _("discussion")

    .tab(class=("tab_active" if active_tab == "associated" else ""))
      a(href=url_for("question_associated", question_url=question.url))= _("associated")

    .tab
      a(href="/" + question.url)= _("follow") if True else _("unfollow")


- macro question_box_small(question, side)
  .associated_question_wrapper
    .associated_question(class=("associated_question_" + side))
      .stats.associated_question_stats
        .points.question_points= question.score
        .points_text.question_points_text= ngettext("supporter", "supporters", question.score)

      .associated_question_title
        p
          a(href=url_for("question", question_url=question.url))= question.title

      .author=_("authored_at", dt=question.created_at|datetimeformat)

      .clear


//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
