- macro question_tags(tags)
  ul
    for tag in tags
      li.tag 
        a(href="/tags/{{ tag.tag }}")= tag.tag


- macro question_box(question, no_margin=False, voting=False, details=False)
  .question(id="question_{{ question.id }}", 
            class=("question_no_margin" if no_margin else ""))
    .stats.question_stats
      .points.question_points= question.score
        .points_text.question_points_text= ngettext("supporter", "supporters", question.score)

      if voting
        form
          .question_vote_up.vote_up.vote_up_inactive(title="hier klicken")

    .question_title
      p
        a(href=url_for("question", question_url=question.url))= question.title

    .question_num_arguments= question.arguments.count()
      .icon_num_arguments 

    .tags= question_tags(question.tags)

    .author.question_author
    .author.question_author=_("authored_at", dt=question.created_at|datetimeformat)

    if details
      hr
      .question_details
        a.button_orange(href="#arguments", style="width:180px")= _("goto_arguments")
        p
          = question.details|safe

    .clear


- macro tag_filter_box(tag, mode)
  .filter Tag: {{ tag }}
    .remove
      a(href=url_for("questions", mode=mode))
        .remove_icon


- macro search_filter_box(searchterm, mode)
  .filter
    = _("search_for") 
    |:&nbsp;
    = searchterm 
    .remove
      a(href=url_for("questions", mode=mode))
        .remove_icon

//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
