- extends "layout.j2.jade"
- from "question_macros.j2.jade" import question_box, question_box_small, question_tabline

- block title
  title= question.title

- block content
  = question_tabline(question, "associated")
  = question_box(question, current_user, _("goto_associated_questions"), no_margin=True, voting=True, details=True, show_actions=True)

  .question_col
    a(name="bottom")
  
    for associated_question in associated_questions_left
      = question_box_small(associated_question, "left")

    a(href=url_for("new_question", associated_with_question_url=question.url, side="left")) 
      .button_add_related
        span= _("add_change_question")


  .question_col
    for associated_question in associated_question_right
      = question_box_small(associated_question, "right")

    a(href=url_for("new_question", associated_with_question_url=question.url, side="right")) 
      .button_add_related
        span= _("add_counter_question")


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
