#detail_top(hx-swap-oob="true")
  h2= _('title_scheduled_proposition')

  p= _('info_scheduled_proposition', ballot=ballot_title, voting_phase=voting_phase.title)

  if show_submitter_names and submitter_names
    p= _('submitters')
    ul
      for name in submitter_names
        li= name
