#detail_top(hx-swap-oob="true")
  h2= _('title_draft')

  p= _('notice_proposition_is_a_draft')

  if current_user_is_submitter and current_user_is_author
    p= _('you_are_author_and_submitter')
  elif current_user_is_author
    p= _('you_are_author_but_not_submitter')
  elif current_user_is_submitter
    p= _('you_are_submitter')


  if ready_to_submit
    p= _('draft_ready_to_submit')
  else
    p= _('draft_needs_more_submitters', missing=missing_submitters_count)

    if current_user_is_author or current_user_is_submitter
      p= _('share_this_become_submitter_link')
      p
        a(href=become_submitter_url)= become_submitter_url

    if valid_submitter_invitation_key and not current_user_is_submitter
      p= _('invited_to_become_submitter')

      if current_user
        form.become_submitter_form(action=become_submitter_action, method="POST")
          input(type="hidden",name="submitter_invitation_key", value=submitter_invitation_key)
          button.btn.btn-primary.btn-sm(type="submit", name="become_submitter")
              i.far.fa-thumbs-up &nbsp;
              = _('button_become_submitter')
      else
        p
          a(href=login_url)= _('notice_login')

  if show_submitter_names and submitter_names
    p= _('current_submitters')
    ul
      for name in submitter_names
        li= name
