#detail_top(hx-swap-oob="true")
  h2= _('title_submitted_proposition')

  p= _('info_submitted_proposition')

  if current_user_is_submitter
    p= _('current_user_is_submitter')

    if current_user_is_supporter
      p= _('current_user_is_submitter_and_supporter')

  elif current_user_is_supporter
    p= _('current_user_is_supporter_not_submitter')

  elif can_support
    p= _('current_user_can_support')

  if show_submitter_names and submitter_names
    p= _('submitters')
    ul
      for name in submitter_names
        li= name

