- if layout
  - extends "ekklesia_portal/layout.j2.jade"

- block title
  if layout
    title
      = brand_title
      |&nbsp;-&nbsp;
      = _('voting_phase_type')


- block content

  if layout
    h2= _('voting_phase_type')

  .voting_phase_type.container
    h3
      a(href=self_link)= name

      if show_edit_button
        a.edit_button(href=edit_url)
          i.far.fa-edit
          |&nbsp;
          = _('edit_button')

    dl
      dt= _('abbreviation')
      dd= abbreviation
      dt= _('voting_type')
      dd= voting_type|enum_value

      if registration_start_days
        dt= _('registration_start_days')
        dd= registration_start_days

      if registration_end_days
        dt= _('registration_end_days')
        dd= registration_end_days

      if voting_days
        dt= _('voting_days')
        dd= voting_days

      // Unused at the moment.
      //dt= _('secret_voting_possible')
      //dd= secret_voting_possible|yesno

    if options.show_details
      dl
        if description
          dt= _('description')
          dd= description
