dl
  dt= _('label_eligible_to_vote')
  dd= eligible|yesno

  dt= _('label_verified')
  dd= verified|yesno

  dt= _('label_sub')
  dd= sub

if profile
  h3= _('label_profile')
  .profile_text
    = profile|markdown
