dl
  dt= _('label_eligible_to_vote')
  dd= eligible_to_vote|yesno

  dt= _('label_verified')
  dd= verified|yesno

  dt= _('label_auid')
  dd= auid

h3= _('label_profile')
.profile_text
  = profile|markdown
