dl
  if eligible is not none
    dt= _('label_eligible_to_vote')
    dd= eligible|yesno

  if verified is not none
    dt= _('label_verified')
    dd= verified|yesno

if profile
  h3= _('label_profile')
  .profile_text
    = profile|markdown
