- if layout
  - extends "ekklesia_portal/layout.j2.jade"


- block title
  title= _('title_profile', name=name)


- block content
  h2= _('title_profile', name=name)
    if show_edit_button
      a.edit_button(href=edit_url)
        i.far.fa-edit
        |&nbsp;
        = _('edit_button')

  dl
    dt= _('label_joined')
    dd= joined|datetimeformat

    dt= _('label_last_active')
    dd= last_active|datetimeformat


  if profile
    = render_cell(profile)


  if departments or groups
    hr

  if departments
    h3= _('label_departments_subject_areas')
    p=_('member_in_area_explanation')
    ul
      for department, areas in departments_with_subject_areas
        li= department.name
        if areas
          ul
            for area, member_in_area in areas
              li
                form(action=member_area_action, method="POST")
                  input(type='hidden', name='area_id', value=area.id)
                  label= area.name
                  &nbsp;
                  if member_in_area
                    = _('member_in_area')
                    a(href=supported_link(subject_area=area))
                      = _('supported_propositions')
                    br
                    if area in supported_areas
                      = _('cant_leave_supporting_area')
                    else
                      button.btn.btn-secondary.btn-sm(type="submit", name="member_in_area", value="N")
                        i.far.fa-trash-alt &nbsp;
                        = _('button_member_in_area')
                  else
                    = _('not_member_in_area')
                    button.btn.btn-primary.btn-sm(type="submit", name="member_in_area", value="Y")
                      i.far.fa-thumbs-up &nbsp;
                      = _('button_not_member_in_area')

  if groups
    h3= _('label_groups')
    ul
      for group in groups
        li= group.name
