- extends "layout.j2.jade"
- from "argument_macros.j2.jade" import argument_box, counter_argument_box

- block title
  title= argument.title

- block content
  proposition = argument.proposition
  counter_arguments = argument.counter_arguments.all()

  ol.breadcrumb
    li
      a(href=url_for("proposition", proposition_url=proposition.url))
        = _("discussion")
        |:
        = proposition.title

    li.active 
      a(href=url_for("argument", proposition_url=proposition.url, argument_url=argument.url))
        = _("counterarguments_for")
        |:
        = argument.title

  div(class=argument.argument_type)
    = argument_box(argument, current_user, extended=True)


  h3 Gegenargumente

  hr.argument_separator

  counter_cls = "pro" if argument.argument_type == "con" else "con"

  .counter_arguments(class=counter_cls)
    for ca in counter_arguments
      = counter_argument_box(ca, current_user)

  a.add-new-argument(href="{{ argument.url }}/ca/new/") 
    .button_argument.button_add_counter_argument
      span Gegenargument hinzufügen


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
