!!! html5
head
  - block title
    title Arguments
  meta(charset="utf8")
  meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  //link(rel="stylesheet", href=url_for("static", filename="css/arguments.css"))
  link(rel='stylesheet', href='/static/deform/css/form.css')
  link(rel="stylesheet", href="/static/css/portal.css")
  //script(src=url_for("static", filename="js/jquery-2.2.3.js"))
  script(src="/static/js/jquery-2.2.3.js")
  script(src='/static/deform/scripts/deform.js')
  script.
    var current_user = { "is_authenticated": {{ current_user is not none|tojson }} };

body
  - block navbar
    nav.top_navbar
      a.navbar-brand(href=url_for("propositions")) Ekklesia Portal
      .collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            select.form-control#locale_select
              option(selected=(g.locale == "de"), value="de") Deutsch
              option(selected=(g.locale == "en"), value="en") English
              option(selected=(g.locale == "fr"), value="fr") Français

          li.nav-item(class=("active" if not mode or mode=="sorted" else ""))
            a.nav-link(href=url_for("propositions", tag=tag|default(None)))= _("sorted")

          li.nav-item(class=("active" if mode=="top" else ""))
            a.nav-link(href=url_for("propositions", mode="top", tag=tag|default(None)))= _("top")

          //li.nav-item(class=("active" if mode=="custom" else ""))
          //  a.nav-link(href=url_for("propositions", mode="custom")) Antragsgruppen

        form.top_search(action=url_for("propositions"))
          input.form-control(type="text", placeholder=_("search_for"), name="q")
          button.search_button(type="submit")
            i.fas.fa-search &nbsp;Suche

        if current_user is not none
          a.top_username(href="#")= current_user.name
          form.top_logout(action='/logout', method="POST")
            button.logout_button(type="submit")
              i.fas.fa-sign-out-alt &nbsp;Abmelden
        else
            a.login_button(href='/login')
              i.fas.fa-sign-in-alt
                |&nbsp;
                = _("login")



    - block messages
      - with messages = get_flashed_messages(with_categories=True)
        if messages
          for cat, msg in messages
            div(class="alert_{{ cat }}")= msg

    .content_area
      - block content
        // empty

  - block footer

    footer.footer
      ul.list-inline
        li.list-inline-item
          a(href="#")= _("link_other")
        li.list-inline-item
          a(href="#") FAQ
        li.list-inline-item
          a(href="#")= _("terms_of_use")
        li.list-inline-item
          a(href="#")= _("imprint")
        li.list-inline-item
          a(href="https://github.com/dpausp/ekklesia-portal")= _("source code")

  - block script
    // empty


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
