- extends "ekklesia_portal/layout.j2.jade"

- block title
  title= _("title_edit_voting_phase")

- block content

  if show_create_voting
    h2= _("title_create_voting")

    form.create_voting_form(action=create_voting_action, method="POST")
      for voting_module, enabled in voting_modules
        button.btn.btn-primary(disabled=(not enabled), type="submit", name="create_voting", value=voting_module)
          i.far.fa-paper-plane
          |&nbsp;
          = _('create_voting_button', voting_module=voting_module)


  h2= _("title_edit_voting_phase")

  = form_html

  if show_inherited_properties
    h2= _('inherited_properties')

    .help-text.mb-2= _('voting_phase_inherited_properties_explanation')

    for property, value in inherited_properties
      dt= _(property)
      dd= value


//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
