- extends "ekklesia_portal/layout.j2.jade"

- block title
  title= _("title_edit_proposition")

- block content
  h2= _("title_edit_proposition")

  dl
    dt= _('department')
    dd= department_name
    dt= _('subject_area')
    dd= subject_area_name
    dt= _('submitter_invitation_link')
    dd
      a(href=become_submitter_url)= become_submitter_url
    dt= _('ballot')
    dd
      a(href=ballot_url)
        if ballot_name
          = ballot_name
        else
          = _('ballot')
          |&nbsp;#
          = ballot_id

  = form_html

  if show_push_draft
    h3= _('push_draft')

    div
      = _('exporter_target')
      |:&nbsp;
      = exporter_description

    form.support_form(action=push_draft_action, method="POST")
      button.btn.btn-primary(type='submit', name='push_draft')
        i.fas.fa-edit &nbsp;
        = _('push_draft_button')

//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
