.proposition_small
  .proposition_small_body
    h5.proposition_small_title
      a(href=self_link)= title

    .card-text.proposition_small_abstract
      = abstract

  .proposition_small_footer
    .row
      .col-sm-5.points
        i.far.fa-thumbs-up &nbsp;
        strong.proposition_info_number(id="proposition_score_{{ id }}")= supporter_count
        | &nbsp;
        span= ngettext("supporter", "supporters", supporter_count)

      .col-sm-7.authoring_info
        = _("created_on", date=created_at|dateformat)

// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
