#secret_voting(hx-swap-oob="true")
  .col-sm-6
    form.secret_voting_form(action=secret_voting_url
                            method="POST"
                            hx-post=secret_voting_url)

      if secret_voting_requested
        input(type="hidden", name="secret_voting", value="retract")
        button.btn.btn-secondary.btn-sm(type="submit")
          = _('button_retract_secret_voting')
      else
        input(type="hidden", name="secret_voting", value="request")
        button.btn.btn-secondary.btn-sm(type="submit")
          i.far.fa-eye-slash &nbsp;
          = _('button_request_secret_voting')

  .col-sm-6
    .progress(title=(_('abbr_secret_voters_count') + " / " + _('abbr_secret_voting_quorum')))
      .progress-bar(role="progressbar"
                    style="width: {{ secret_voters_count/secret_voting_quorum * 100 }}%"
                    aria-valuenow=secret_voters_count
                    aria-valuemin="0"
                    aria-valuemax=secret_voting_quorum)
        | {{ secret_voters_count }} / {{ secret_voting_quorum }}


//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
