- if layout
  - extends "layout.j2.jade"

- macro proposition_tags(tags)
  ul.list-inline
    li.list-inline-item
      a(href="#")
        span.tag_text Ein Tag

    for tag in tags
      li.list-inline-item
        a(href="/tags/{{ tag.tag }}")
          span.tag_text= tag.tag


- macro proposition_actions(proposition, user, goto_label)
  div
    if show_support_actions
      form.form-inline(action=support_action, method="POST")
        button.btn.btn-primary(hidden=is_supported_by_current_user, type="submit", name="support")
            i.far.fa-thumbs-up &nbsp;
            | Unterstützen

        button.btn.btn-secondary(hidden=(not is_supported_by_current_user), type="submit", name="retract")
            i.far.fa-remove &nbsp;
            | Unterstützung zurückziehen

      button.btn.btn-danger-outline
        i.far.fa-thumbs-down &nbsp;
        | Melden

    button.btn.btn-secondary
      i.far.fa-share-square &nbsp;
      | Teilen

    a.btn.btn-secondary(href="#bottom")
      i.far.fa-comments &nbsp;
      = goto_label


- block title
  title= title


- block content

  if options.small
    .proposition_small
      .proposition_small_content
        .proposition_small_body
          h5.proposition_small_title
            a(href=self_link)= title

          = abstract

      .proposition_small_footer
        .row
          .col-sm-6.points
            i.far.fa-thumbs-up &nbsp;
            strong.proposition_info_number(id="proposition_score_{{ id }}")= supporter_count
            | &nbsp;
            span= ngettext("supporter", "supporters", supporter_count)

          .col-sm-6.authoring_info
            small= _("authored_at", dt=created_at|datetimeformat)


  else
    .proposition(id="proposition_{{ id }}",
              class=("" if options.margin else "proposition_no_margin"))
      if options.show_tabs
        .proposition_toolbar
          ul.proposition_tabs
            li.nav-item
              a.nav-link(href=discussion_url, class=discussion_link_class)= _("discussion")

            li.nav-item
              a.nav-link(href=associated_url, class=associated_link_class)= _("associated")

      .card-body
        .row
          .proposition_sidebar

            .authoring_info
              small.author=_("authored_at", dt=created_at|datetimeformat)

            .points
              i.far.fa-thumbs-up &nbsp;
              strong.proposition_info_number(id="proposition_score_{{ id }}")= supporter_count
              | &nbsp;
              span= ngettext("supporter", "supporters", supporter_count)

            .argument_count
              i.far.fa-comments &nbsp;
              strong.proposition_info_number= argument_count
              | &nbsp;
              span= ngettext("argument", "arguments", argument_count)

          .proposition_body
            h4.proposition_title
                a(href=self_link)= title

            = proposition_tags(tags)

            if options.show_details
              .proposition_details
                p
                  = content|markdown
                p
                  = motivation|markdown

            if options.show_actions
              = proposition_actions(_model, current_user, _("goto_arguments"))

    if options.active_tab == 'discussion'
      .row.arguments
        a(name="bottom")

        .proposition_col.pro
          = render_cell(collection=pro_argument_relations)

          if show_create_argument
            a(href=new_pro_argument_url)
              .button_add_related
                i.far.fa-thumbs-up &nbsp;
                = _("add_pro_argument")

        .proposition_col.con
          = render_cell(collection=contra_argument_relations)

          if show_create_argument
            a(href=new_con_argument_url)
              .button_add_related
                i.far.fa-thumbs-down &nbsp;
                = _("add_con_argument")

    if options.active_tab == 'associated'
      .row.arguments
        a(name="bottom")

        .proposition_col.change
          = render_cell(collection=derivations, small=True, side='left')

          a(href=new_associated_proposition_url("change"))
            .button_add_related
              i.far.fa-circle &nbsp;
              = _("add_change_proposition")

        .proposition_col.counter
          = render_cell(collection=replacements, small=True, side='right')

          a(href=new_associated_proposition_url("counter"))
            .button_add_related
              i.fas.fa-circle &nbsp;
              = _("add_counter_proposition")

// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
