if propositions
  div.prop-count
    if prop_per_page < 0
      = _("showing_all_propositions", count=prop_count)
    else
      = _("showing_x_propositions", from=(page-1)*prop_per_page+1, to=[page*prop_per_page, prop_count] | min, count=prop_count)

if page_count > 1
  ul
    if page > 1
      li
        a.page_btn(href=change_self_link(page=1), title=_('first_page'))
          = "<<"
      li
        a.page_btn(href=change_self_link(page=page-1), title=_('previous_page'))
          = "<"

    for page_nr in range([1, page-4] | max, [page_count+1, page+4] | min)
      li
        if page_nr == page
          span.page_btn.disabled
            = (page_nr)
        else
          a.page_btn(href=change_self_link(page=page_nr))
            = (page_nr)

    if page < page_count
      li
        a.page_btn(href=change_self_link(page=page+1), title=_('next_page'))
          = ">"
      li
        a.page_btn(href=change_self_link(page=page_count), title=_('last_page'))
          = ">>"

// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
