span#support(hx-swap-oob="true")
  form.support_form(action=support_url
                    method="POST"
                    hx-post=support_url)

    if current_user_is_supporter
      input(type="hidden", name="support", value="retract")
      button.btn.btn-secondary.btn-sm(type="submit")
          i.far.fa-thumbs-down &nbsp;
          = _('button_retract_support')
    else
      if can_support
        input(type="hidden", name="support", value="support")
        button.btn.btn-primary.btn-sm(type="submit")
            i.far.fa-thumbs-up &nbsp;
            = _('button_support')
      elif supporter_quorum_percent is not none
        button.btn.btn-secondary.btn-sm(disabled=true)
            = _('supporters')


//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
