- if layout
  - extends 'ekklesia_portal/layout.j2.jade'

- block title
  title
    = brand_title
    |&nbsp;-&nbsp;
    = _('overview')

- block content
  if search
    nav
      ol.breadcrumb
        li.breadcrumb-item
          a(href='/')
            = _('overview')
        li.breadcrumb-item.active
          a(href=self_link)
            = _('search_for')
            |:&nbsp;
            strong= search

  if tag
    nav
      ol.breadcrumb
        li.breadcrumb-item
          a(href='/')
            = _('overview')
        li.breadcrumb-item.active
          a(href=self_link)
            = _('tagged_propositions')
            |:&nbsp;
            span.tag_text= tag

  if propositions
    = render_cell(collection=propositions)
  else
    = _('no_propositions_found')


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
