- if layout
  - extends 'ekklesia_portal/layout.j2.jade'

- block title
  title
    = brand_title
    |&nbsp;-&nbsp;
    = _('overview')

- block content
  if search
    nav
      ol.breadcrumb
        li.breadcrumb-item
          a(href='/')
            = _('overview')
        li.breadcrumb-item.active
           = _('search_for')
           |:&nbsp;
           strong= search
           |&nbsp;
           a.btn_filter_remove(href=link_remove_filter(filter='search'), title=_('remove_filter'))
            = 'X'

  if tag or phase or status or type or department or subject_area
    nav
      ol.breadcrumb
        li.breadcrumb-item
          a(href='/')
            = _('overview')
        if tag
          li.breadcrumb-item.active
             = _('tagged_propositions')
             |:&nbsp;
             span.tag_text= tag
             |&nbsp;
             a.btn_filter_remove(href=link_remove_filter(filter='tag'), title=_('remove_filter'))
              = 'X'
        if phase
          li.breadcrumb-item.active
             = _('phase_propositions')
             |:&nbsp;
             strong= voting_phase_title(phase=phase)
             |&nbsp;
             a.btn_filter_remove(href=link_remove_filter(filter='phase'), title=_('remove_filter'))
              = 'X'
        if status
          li.breadcrumb-item.active
             = _('status_propositions')
             |:&nbsp;
             strong= status|enum_value
             |&nbsp;
             a.btn_filter_remove(href=link_remove_filter(filter='status'), title=_('remove_filter'))
              = 'X'
        if type
          li.breadcrumb-item.active
             = _('type_propositions')
             |:&nbsp;
             strong= proposition_type_name(type=type)
             |&nbsp;
             a.btn_filter_remove(href=link_remove_filter(filter='type'), title=_('remove_filter'))
              = 'X'
        if department
          li.breadcrumb-item.active
             = _('department_propositions')
             |:&nbsp;
             strong= department
             |&nbsp;
             a.btn_filter_remove(href=link_remove_filter(filter='department'), title=_('remove_filter'))
              = 'X'
        if subject_area
          li.breadcrumb-item.active
             = _('subject_area_propositions')
             |:&nbsp;
             strong= subject_area
             |&nbsp;
             a.btn_filter_remove(href=link_remove_filter(filter='subject_area'), title=_('remove_filter'))
              = 'X'

  if propositions
    = render_cell(collection=propositions)
  else
    = _('no_propositions_found')


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
