.proposition_actions
  if show_support_actions
    form.support_form(action=support_action, method="POST")
      button.btn.btn-primary.btn-sm(hidden=current_user_is_supporter, type="submit", name="support")
          i.far.fa-thumbs-up &nbsp;
          = _('button_support')

      button.btn.btn-secondary.btn-sm(hidden=(not current_user_is_supporter), type="submit", name="retract")
          i.far.fa-remove &nbsp;
          = _('button_retract_support')

  if show_submit_draft_action
      a.btn.btn-primary.btn-sm(href=submit_draft_url)
          i.far.fa-paper-plane &nbsp;
          = _('button_submit_draft')

  a.btn.btn-secondary.btn-sm(href='javascript:;', data-toggle='popover', data-popover-content='#a1')
    i.fas.fa-link &nbsp;
    = _('button_share')

  if external_discussion_url
    a.btn.btn-secondary.btn-sm(href=external_discussion_url, target="ekklesia-portal-external-discussion")
      i.fas.fa-external-link-alt &nbsp;
      = _('button_external_discussion_url')

  a.btn.btn-secondary.btn-sm(href="#bottom")
    i.far.fa-comments &nbsp;
    if options.active_tab == 'discussion'
      = _("button_goto_arguments")
    else
      = _("button_goto_associated")

  if report_url
    a.btn.btn-sm(href=report_url)
      i.fas.fa-flag &nbsp;
      = _('button_report')

  a.btn.btn-secondary.btn-sm(href=note_url)
    i.fas.fa-notes-medical &nbsp;
    = _('note_button')

  if show_edit_button
    a.btn.btn-secondary.btn-sm(href=edit_url)
      i.fas.fa-edit &nbsp;
      = _('edit_button')

  #a1(hidden=True)
    .popover-body
      p(align='center')
        input(type='text', name='p_url', id='p_url', class='form-control', value=share_url, onclick='this.select()', readonly='')
      p(align='center')
        a.btn.btn-email(type='button', href=share_email_url)
          i.fas.fa-envelope.pr-1
            |  Email
        a.btn.btn-tw(type='button', href=share_twitter_url, target='_blank')
          i.fab.fa-twitter.pr-1
            |  Twitter

script.
  var myDefaultWhiteList = $.fn.tooltip.Constructor.Default.whiteList
  myDefaultWhiteList.input = ['type', 'name', 'id', 'class', 'value','onclick', 'readonly']
  myDefaultWhiteList.a = ['type', 'href', 'target']
  myDefaultWhiteList.p = ['align']
  $(function () {
    $("[data-toggle=popover]").popover({
      html: true,
      content: function () {
        var content = $(this).attr("data-popover-content");
        return $(content).children(".popover-body").html();
      },
      placement: "top",
    });
  });


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
