- if layout
  - extends "ekklesia_portal/layout.j2.jade"


- block title
  title= full_title


- block content

  if options.show_details
    = render_cell(_model, 'detail_top', **options)


  .proposition(id="proposition_{{ id }}", class=("" if options.margin else "proposition_no_margin"))
    if options.show_tabs
      .proposition_toolbar
        ul.proposition_tabs
          li.nav-item
            a.nav-link(href=discussion_url, class=discussion_link_class)= _("tab_discussion")

          li.nav-item
            a.nav-link(href=associated_url, class=associated_link_class)= _("tab_associated")

    .card-body(class=("" if not current_user_is_supporter else "card-body-supported"))
      = render_cell(_model, 'card', **options)


  if options.active_tab == 'discussion'
    .row.arguments
      a(name="bottom")

      .proposition_col.pro
        = render_cell(collection=pro_argument_relations)

        if show_create_argument
          a(href=new_pro_argument_url)
            .button_add_related
              i.far.fa-thumbs-up &nbsp;
              = _("button_add_pro_argument")

      .proposition_col.con
        = render_cell(collection=contra_argument_relations)

        if show_create_argument
          a(href=new_con_argument_url)
            .button_add_related
              i.far.fa-thumbs-down &nbsp;
              = _("button_add_con_argument")


  if options.active_tab == 'associated'
    .row.arguments
      a(name="bottom")

      .proposition_col.change

        if modifies
          .proposition_change_header
            .card-body
              h4= _('title_proposition_modifies')

          = render_cell(modifies, 'small', side='left')


        if derivations
          .proposition_change_header
            .card-body
              h4= _('title_proposition_derivations')

        = render_cell(collection=derivations, view_name='small', side='left')

        if show_create_associated_proposition
          a(href=new_associated_proposition_url("change"))
            .button_add_related
              i.far.fa-circle &nbsp;
              = _("button_add_change_proposition")

      .proposition_col.counter

        if replaces
          .proposition_counter_header
            .card-body
              h4= _('title_proposition_replaces')

          = render_cell(replaces, 'small', side='right')

        if replacements
          .proposition_counter_header
            .card-body
              h4= _('title_proposition_replacements')

        = render_cell(collection=replacements, view_name='small', side='right')

        if show_create_associated_proposition
          a(href=new_associated_proposition_url("counter"))
            .button_add_related
              i.fas.fa-circle &nbsp;
              = _("button_add_counter_proposition")

// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
