- if layout
  - extends "ekklesia_portal/layout.j2.jade"

- block title
  title
    = brand_title
    |&nbsp;-&nbsp;
    = _("overview")

- block content
  if search
    ol.breadcrumb
      li
        a(href=self_link)
          = _("overview")
      li.active
        = _("search_for")
        |:
        strong= search

  if tag
    ol.breadcrumb
      li
        a(href=self_link)
          = _("overview")
      li.active
        | Nur Anträge mit Tag:
        span.tag_text= tag

  = render_cell(collection=propositions)


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
