form(method='POST', action=vote_action_url)
  button.argument_vote_btn(type="submit", name="weight", value=1, class=upvote_button_disabled_class)
    i.fas.fa-arrow-up

  button.argument_vote_btn(type="submit", name="weight", value=0, class=revoke_vote_button_disabled_class)
    i.far.fa-circle

  button.argument_vote_btn(type="submit", name="weight", value=-1, class=downvote_button_disabled_class)
    i.fas.fa-arrow-down

// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
