- if layout
  - extends "ekklesia_portal/layout.j2.jade"

- block title
  title= title

- block content
  if layout
    ol.breadcrumb
      li.breadcrumb-item
        a(href=proposition_url)
          = _("discussion")
          |:&nbsp;
          = proposition_title
      li.breadcrumb-item.active
        a(href=self_link)
          = argument_title

    = render_cell(proposition, margin=False)

    hr.argument_separator

  .argument
    a(name="argument_relation_{{ id }}")
    .argument_relation_body
      .argument_relation_sidebar
        strong.large_number= "%+i" |format(score)
        if show_voting
          .argument_voting
            = voting()

      .argument_col
        = render_cell(argument, details_link=self_link, extended=layout)

    .argument_relation_actions
      .counter_arguments
        if show_ca_button
          a.counter_arguments_btn(href="#")
            strong.large_number= num_counter_arguments
            |&nbsp;
            span= ngettext("counter_argument", "counter_arguments", num_counter_arguments)

    = render_cell(argument, "footer")

// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
