ul
  li
    a(href=propositions_url)= _('propositions')
    ul
      li
        a(href=new_proposition_url)= _('title_new_draft')
  li
    a(href=voting_phases_url)= _('voting_phases')
    ul
      li
        a(href=new_voting_phase_url)= _('title_new_voting_phase')
  li
    a(href=voting_phase_types_url)= _('voting_phase_types')
    ul
      li
        a(href=new_voting_phase_type_url)= _('title_new_voting_phase_type')
  li
    a(href=proposition_types_url)= _('proposition_types')
    ul
      li
        a(href=new_proposition_type_url)= _('title_new_proposition_type')
  li
    a(href=ballots_url)= _('ballots')
    ul
      li
        a(href=new_ballot_url)= _('title_new_ballot')
  li
    a(href=policies_url)= _('policies')
    ul
      li
        a(href=new_policy_url)= _('title_new_policy')
  li
    a(href=departments_url)= _('departments')
    ul
      li
        a(href=new_department_url)= _('title_new_department')
  li
    a(href=subject_areas_url)= _('subject_areas')
    ul
      li
        a(href=new_subject_area_url)= _('title_new_subject_area')
  li
    a(href=documents_url)= _('documents')
    ul
      li
        a(href=new_document_url)= _('title_new_document')
  li
    a(href=pages_url)= _('pages')
    ul
      li
        a(href=new_page_url)= _('title_new_page')
  li
    a(href=customizable_texts_url)= _('customizable_texts')
    ul
      li
        a(href=new_customizable_text_url)= _('title_new_customizable_text')


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
