- extends "ekklesia_portal/layout.j2.jade"

- block content

  if insecure_development_mode_enabled
    .alert.alert-danger
      strong= _('warning_development_mode')
      h3 Dev Navigation
      .row
        .col-sm-6
          .card
            .card-body
              h5 Quick Links
            .card-text
              ul
                li
                  a(href=login_url)= _('button_login')
                li
                  a(href=profile_url)= _('profile')
                li
                  a(href=plain_propositions_url)= _('propositions')
                  ul
                    li
                      a(href=new_proposition_url)= _('title_new_draft')
        .col-sm-6
          .card
            .card-body
              h5 Admin
            .card-text
              = render_cell(admin_box)

    hr

  = welcome_text|markdown

  hr

  h2= _('scheduled_voting_phases')

  = render_cell(collection=scheduled_voting_phases)


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
