!!! html5
head
  - block title
    title= brand_title
  meta(charset="utf8")
  meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  link(rel='stylesheet', href=static_url('deform/css/form.css'))
  link(rel="stylesheet" href=static_url('deform/select2/select2.css'))
  link(rel="stylesheet", href=static_url('css/portal.css'))
  link(rel="shortcut icon", href=favicon_url)
  script(src=static_url('js/jquery.js'))
  script(src=static_url('js/popper.js'))
  script(src=static_url('js/bootstrap.js'))
  script(src=static_url('js/htmx.js'))
  script(src=static_url('deform/scripts/deform.js'))
  script(src=static_url('deform/select2/select2.js'))

body
  - block navbar
    nav.top_navbar
      a.navbar-brand(href='/')= brand_title

      form.top_lang_controls(action=change_language_action, method='POST')
        input(type="hidden",name="back_url",value=page_url)
        .btn-group
          for mylang in settings_languages
            button.lang_select_button(type="submit", name="lang", value=mylang, class=("active" if language == mylang))
              span=mylang.upper()

      .collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href=propositions_url)= _("menu_propositions")

          li.nav-item
            a.nav-link(href=voting_phases_url)= _("voting_phases")

          if show_admin_area
            a.nav-link(href=admin_area_url)= _("admin_area")


      form.top_search(action=plain_propositions_url)
        input.form-control(type="text", placeholder=_("search_for"), name="search", value=search_query)
        button.search_button(type="submit")
          i.fas.fa-search &nbsp;
          = _('button_search')

      if current_user is not none
        | &nbsp;
        a.top_username(href=profile_url)
          i.fas.fa-user &nbsp;
          = current_user.name
        form.top_logout(action=logout_action, method="POST")
          button.logout_button(type="submit")
            i.fas.fa-sign-out-alt &nbsp;
            = _('button_logout')
      else
        if show_login_button
          a.login_button(href=login_url)
            i.fas.fa-sign-in-alt &nbsp;
            = _("button_login")


    - block messages
        for cat, msg in flashed_messages
          .alert(class="alert-{{ cat }}")= _(msg)

    .content_area
      - block content
        // empty

  - block footer

    footer.footer
      ul.list-inline
        li.list-inline-item(hidden=(custom_footer_url is none))
          a(href=custom_footer_url)= _("link_other")
        li.list-inline-item(hidden=(faq_url is none))
          a(href=faq_url)= _("faq")
        li.list-inline-item(hidden=(tos_url is none))
          a(href=tos_url)= _("terms_of_use")
        li.list-inline-item(hidden=(data_protection_url is none))
          a(href=data_protection_url)= _("data_protection")
        li.list-inline-item(hidden=(imprint_url is none))
          a(href=imprint_url)= _("imprint")
        li.list-inline-item
          a(href=source_code_url)= _("source code")

  - block script
    // empty


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
