!!! html5
head
  - block title
    title= brand_title
  meta(charset="utf8")
  meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  link(rel='stylesheet', href=static_url('deform/css/form.css'))
  link(rel="stylesheet" href=static_url('deform/select2/select2.css'))
  link(rel="stylesheet", href=static_url('css/portal.css'))
  script(src=static_url('js/jquery-2.2.3.js'))
  script(src=static_url('js/bootstrap-4.3.1.bundle.js'))
  script(src=static_url('deform/scripts/deform.js'))
  script(src=static_url('deform/select2/select2.js'))

body
  - block navbar
    nav.top_navbar
      a.navbar-brand(href='/')= brand_title
      .collapse.navbar-collapse

        form.top_lang_controls(action=change_language_action, method='POST')
          .btn-group
            button.lang_select_button(type="submit", name="lang", value="de", class=("active" if language == "de")) DE
            button.lang_select_button(type="submit", name="lang", value="en", class=("active" if language == "en")) EN
            button.lang_select_button(type="submit", name="lang", value="fr", class=("active" if language == "fr")) FR

        ul.navbar-nav.mr-auto
          li.nav-item(class=("active" if mode=="sorted" else ""))
            a.nav-link(href=propositions_url(tag=tag|default))= _("menu_sorted")

          li.nav-item(class=("active" if mode=="top" else ""))
            a.nav-link(href=propositions_url(mode="top", tag=tag|default))= _("menu_top")

          li.nav-item
            a.nav-link(href=voting_phases_url)= _("voting_phases")

        form.top_search(action=plain_propositions_url)
          input.form-control(type="text", placeholder=_("search_for"), name="search", value=search_query)
          button.search_button(type="submit")
            i.fas.fa-search &nbsp;
              = _('button_search')

        if current_user is not none
          | &nbsp;
          a.top_username(href=profile_url)
            i.fas.fa-user &nbsp;
            = current_user.name
          form.top_logout(action=logout_action, method="POST")
            button.logout_button(type="submit")
              i.fas.fa-sign-out-alt &nbsp;
                = _('button_logout')
        else
            a.login_button(href=login_url)
              i.fas.fa-sign-in-alt &nbsp;
                = _("button_login")


    - block messages
      - with messages = get_flashed_messages(with_categories=True)
        if messages
          for cat, msg in messages
            div(class="alert_{{ cat }}")= msg

    .content_area
      - block content
        // empty

  - block footer

    footer.footer
      ul.list-inline
        li.list-inline-item(hidden=(custom_footer_url is none))
          a(href=custom_footer_url)= _("link_other")
        li.list-inline-item(hidden=(custom_footer_url is none))
          a(href=faq_url)= _("faq")
        li.list-inline-item(hidden=(tos_url is none))
          a(href=tos_url)= _("terms_of_use")
        li.list-inline-item(hidden=(data_protection_url is none))
          a(href=data_protection_url)= _("data_protection")
        li.list-inline-item(hidden=(imprint_url is none))
          a(href=imprint_url)= _("imprint")
        li.list-inline-item
          a(href=source_code_url)= _("source code")

  - block script
    // empty


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
