- if layout
  - extends "ekklesia_portal/layout.j2.jade"


- block content

  if back_url and from_redirect
    .alert.alert-primary
      = _("alert_login_first", url=back_url)


  if show_ekklesia_login

    h2= _("title_ekklesia_login", name=ekklesia_login_name)

    .help_text
      = ekklesia_login_explanation|markdown

    a.btn.btn-primary(href=ekklesia_login_url)
      i.fas.fa-sign-in-alt
      |&nbsp;
      = _("button_ekklesia_login", name=ekklesia_login_name)

    hr


  if show_internal_login
    h2 Interner Login

    if insecure_development_mode_enabled
      .alert.alert-danger
        strong= _('warning_development_mode')

    form(action="/login", method="POST")
      p
        label(for="username") Username
        input(name="username" value=username)

      p
        label(for="password") Password
        input(name="password" type="password")

      if back_url
        input(type="hidden", name="back_url", value=back_url_quoted)

      input(type="submit")

// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
