- extends "ekklesia_portal/layout.j2.jade"

- macro title(text)
  title= text

- block content
  dl
    dt User logged in?
    dd#current-user= current_user is not none

    if current_user is not none
      dt Username
      dd= current_user.name

    dt Session
    dd#session= _request.browser_session|tojson

    dt Translation of "hello_date" with dates
    dd#hello-date= _("hello_date", date=now|dateformat, time=now|timeformat)

    dt Translation of "hello (singular form)"
    dd#hello= ngettext("hello", "hellos", 1)

    dt Translation of "hello (plural form)"
    dd#hello-plural= ngettext("hello", "hellos", 2)

    dt String from Cell
    dd#cell-str= test_str

    dt Int from Cell
    dd#cell-int= test_int

    dt URL from Cell
    dd#cell-url
      a(href=test_url) Example.com

    dt Escaped HTML from Cell
    dd#cell-escaped-html= test_escaped_html

    dt HTML from Cell
    dd#cell-html= test_html

    dt Template Path
    dd#template-path= template_path

    dt Buttons
    dd#buttons
      button.btn.btn-primary Primary Button
      button.btn.btn-primary-outline Primary Outline Button
    dt Exception
    dd
      a(href=self_view_url("exception")) Show me an exception, please!


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
