.argument_count
  a(href=(link(_model) + "#bottom"), title=_("goto_arguments"))
    i.far.fa-comments &nbsp;
    strong.proposition_info_number= argument_count
    | &nbsp;
    span= ngettext("argument", "arguments", argument_count)

.amendment_count
  a(href=(link(_model, "associated") + "#bottom"), title="goto")
    i.mr-1.far.fa-plus-square &nbsp;
    strong.proposition_info_number= amendment_count
    | &nbsp;
    span= ngettext("amendment", "amendments", amendment_count)

.supporter_count
  a(href=(link(_model, "process") + "#support"), title="goto")
    i.far.fa-thumbs-up &nbsp;
    strong.proposition_info_number= supporter_count
    | &nbsp;
    span= ngettext("supporter", "supporters", supporter_count)
