.points_and_argument_count
  i.far.fa-comments &nbsp;
  strong.proposition_info_number= argument_count
  | &nbsp;
  i.far.fa-thumbs-up &nbsp;
  strong.proposition_info_number= supporter_count
  | &nbsp;

.voting
  div
    i.fas.fa-person-booth &nbsp;
    = _('result')
    |:

  if voting_result_state
    i(class=voting_result_symbol) &nbsp;
    = voting_result_state|enum_value

  div
    a(href=link(voting_phase))= voting_phase.title
  div
    a(href=link(ballot))= ballot_title
